.movie-details {
  width: 260px;
  margin-left: 15px;

  .movie-image {
    img {
      width: 260px;
      height: 385px;
    }

    margin-bottom: 20px;
  }

  .movie-title {
    width: 251px;
    height: 66px;
    text-align: left;
    font: normal normal normal 30px/31px Georgia;
    letter-spacing: -0.6px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
  }

  .svg-more-arrow {
    margin-left: 115px;
    margin-bottom: 7px;
  }
  .btn-primary-next{
    margin-bottom: 94px;
  }
}

