.movie-info {
  width: 546px;

  .movie-summary {
    text-align: left;
    font: normal normal normal 30px/31px Georgia;
    letter-spacing: -0.6px;
    color: #000000;
    text-transform: lowercase;
    height: 325px;
  }

  .movie-title {
    text-align: left;
    font: normal normal bold 45px/31px Arial;
    letter-spacing: 0;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
    line-height: 45px;
  }

  .movie-time {
    text-align: left;
    margin-top: 10px;
    font: normal normal normal 25px/31px Arial;
    letter-spacing: -0.5px;
    color: #000000;
    text-transform: lowercase;
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .movie-info {
    width: 100%;

    .movie-title {
      text-align: left;
      font: normal normal bold 30px/31px Arial;
      letter-spacing: 0;
      color: #000000;
      text-transform: uppercase;
      max-width: 250px;
      line-height: 30px;
    }

    .movie-summary {
      text-align: left;
      max-width: 250px;
      font: normal normal normal 16px/17px Georgia;
      letter-spacing: -0.32px;
      color: #000000;
      text-transform: lowercase;
      height: 70px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .movie-time {
      width: 166px;
      height: 22px;
      text-align: left;
      font: normal normal normal 20px/31px Arial;
      letter-spacing: -0.4px;
      color: #000000;
      text-transform: lowercase;
    }
  }
}
