.next-footer {
  background: #231F20;
}

.next-footer-icon {
  margin-top: 41px;
  text-align: center;
  margin-bottom: 27px;
}

.support-title {
  font: normal normal normal 16px/21px Georgia;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-align: center;
}

.next-footer-contact-us {
  font-family: Georgia;
  font-size: 33px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 13px;
}

.svg-footer {
  margin-left: 10px;
}

.next-footer-svg {
  text-align: center;
  margin-bottom: 47px;
  margin-top: 36px;

  img {
    margin-left: 10px;
    margin-right: 10px;
  }
}

