<div class="row next-footer row justify-content-md-center">
  <div class="row-xs-12 next-footer-icon col-md-auto">
    <img src="assets/images/favicon.svg" alt="Next Logo"/>
  </div>
  <div class="row-xs-12 next-footer-contact-us col-md-auto">Contact us</div>
  <div class="row-xs-12 support-title col-md-auto">support@nextmovies.com Mon – Fri | 6:00am – 5:00 pm PT</div>
  <div class="row-xs-12 support-title col-md-auto">Mon – Fri | 6:00am – 5:00 pm PT</div>
  <div class="row-xs-12 next-footer-svg col-md-auto col">
    <img src="assets/images/facebook-share-icon.svg"  class="svg-footer"/>
    <img src="assets/images/linkedin-share-icon.svg" class="svg-footer"/>
    <img src="assets/images/twitter-share-icon.svg" class="svg-footer" />
    <img src="assets/images/instagram-share-icon.svg" class="svg-footer" />
    <img src="assets/images/youtube-share-icon.svg" class="svg-footer" />

  </div>
</div>
