.movie-more-dialog {
  padding-top: 25px;
  padding-left: 125px;
  background: #FFFFFF;
  display: inline-flex;

  .movie-image {
    img {
      width: 398px;
      height: 591px;
    }
  }

  .movie-info-and-button button img {
    margin-right: 60px;
    padding-bottom: 10px;
  }

  .movie-info-and-button {
    margin-left: 143px;
  }

  .btn-primary-next{
    width: 260px;
    height: 42px;
    border: 1px solid #000000;
    border-radius: 100px;
    background: transparent;
  }
  .btn-text{
    font-family: Graphik Regular, serif;
    font-size: 18px;
    color: #000000;
    line-height: 42px;
  }
}

@media screen and (max-width: 800px) {
  .movie-more-dialog {
    padding-top: 18px;
    padding-left: 19px;
    display: block;

    .movie-image {
      img {
        width: 256px;
        height: 350px;
      }
      padding-bottom: 3px;
    }

    .movie-info-and-button {
      margin-left: 0;
    }
  }


}
