<div class="movie-more-dialog">
  <div class="movie-image">
    <img src="{{movieInfo.movieImg}}">
  </div>

  <div class="movie-info-and-button">
    <app-movie-info
      [movieName]="movieInfo.movieName"
      [rating]="movieInfo.rating"
      [runtime]="movieInfo.runtime"
      [synopsis]="movieInfo.synopsis">

    </app-movie-info>

    <button mat-button mat-dialog-close class="btn-primary-next btn-text">
      <img src="assets/images/arrow.svg" class="svg-more-arrow"/>
      Back to list
    </button>
  </div>
</div>


