/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-primary-next{
  width: 260px;
  height: 42px;
  border: 1px solid #000000;
  border-radius: 100px;
  background: transparent;
}
.btn-text{
  font-family: Graphik Regular;
  font-size: 18px;
  color: #000000;
  line-height: 42px;
  margin-left: 15px;
}
.mat-dialog-container{
  background-color: #FFFFFF;
}
.cdk-overlay-dark-backdrop {
  background: #000000C4 0% 0% no-repeat padding-box;
  opacity: 1;
}
